In [15]:
for i in range (1,6):
    for j in range (5,i,-1):
        print ("$" , end = " ")
    for k in range (1,i+1):
        print ("*", end = " ")
    print ()

$ $ $ $ *
$ $ $ * *
$ $ * * *
$ * * * *
* * * * *

In [16]:
list = [10,20,"Hey",11.5]
nl = []
for i in list :
    if type(i)==int :
        nl.append(i*i)
print (nl)

[100, 400]

In [18]:
data = int(input("Enter a Number :"))
data1 = data
new_num = 0
while data > 0 :
    digit = data % 10
    data = data // 10
    new_num = new_num + digit**3
if new_num == data1 :
    print ("yes Armstrong")
else :
    print("no Armstrong")

Enter a Number : 123

no Armstrong

In [25]:
data = "HELLOO"
nd = {}
i = 1
for char in data :
    nd[char] = i
    i+=1
print (nd)

{'H': 1, 'E': 2, 'L': 4, 'O': 6}

In [32]:
data = "hey tushar hello"
vowels = "aeiou"
nd = {}
for i in data :
    if i in vowels :
        if i not in nd :
            nd[i] = 1
        else :
            nd[i] += 1
print (nd)

{'e': 2, 'u': 1, 'a': 1, 'o': 1}

In [41]:
days = int(input("Enter Number of Days "))
total = 0 
day =0
a_day = 1
week = 0
price = 1
while a_day <= days :
    day += 1
    if day > 7 :
        week += 1 
        price = week + 1
        day = 1
    total = total + price 
    price = price + 1
    a_day = a_day + 1 
print (total)

Enter Number of Days  4

10

In [46]:
num = 1
for i in range (0,3):
    for j in range (4,i,-1):
        print (num,end = " ")
        num +=1
    for k in range (0,i+1):
        print ("*", end = " ")
    print ()

1 2 3 4 *
5 6 7 * *
8 9 * * *

In [57]:
for i in range (0,4):
    num = 65
    number = 1
    for j in range (i,4):
        print (chr(num),end = " ")
        num += 1
    for k in range (0,i+1):
        print (number, end = " ")
        number += 1
    print ()

A B C D 1
A B C 1 2
A B 1 2 3
A 1 2 3 4

In [66]:
num = 65 
for i in range (0,4):
    for j in range (4,-1,-1):
        if j==i or j<i:
            print (chr(num) , end = " ")
            num += 1
        else :
            print (" ", end = " ")
    print ()

        A
      B C
    D E F
  G H I J

In [67]:
num = 65
number = 1
for i in range (0,4):
    for j in range (i,4):
        print (chr(num),end = " ")
        num += 1
    for k in range (0,i+1):
        print (number, end = " ")
        number += 1
    print ()

A B C D 1
E F G 2 3
H I 4 5 6
J 7 8 9 10

In [109]:
for i in range (2,-1,-1):
    for j in range (0,5):
        mid = 2
        if j>=mid-i and j<=mid+i:
            print ("*" , end = " ")
        else :
            print (" ", end = " ")
    print ()

* * * * *
  * * *
    *